<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		{{> head}}
	</head>
	<body>
		<nav class="navbar navbar-light" style="background-color: rgb(0, 0, 0);">
			<a class="navbar-brand" href="/">
					<img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top"  alt="">
					<p style="display:inline; color:white;">SunSystems</p>
			</a>
			<section id="header-links">
				<a href="/" class="btn btn-outline-warning">Back</a>
			</section>
		</nav>
		<div class="container">
			
			<div class="row">
				<div class="col-sm-12 mt-3">

					<h3>About The Tool</h3>
					<p>
						This application was developed as a quick project for a course at the University of Guelph. The goal of this application is to allow a user to analyze publically available data on high earners in the public sector.
					</p>

					<h3>About the data</h3>
					<p>
						The data for this project has been sourced from the following sites:<br>

						<ul>
							<li><a href="https://www.ontario.ca/page/public-sector-salary-disclosure">Ontario.ca</a></li>
							<li><a href="https://open.alberta.ca/opendata/public-disclosure-of-salary-and-severance">Alberta.ca</a></li>
						</ul>

						We do not guarantee the accuracy of the data.
					</p>

					<h3>The Developers</h3>
					<p>
						This application was developed by:<br>

						<ul>
							<li>Max Mastalerz</li>
							<li>Neel Gondalia</li>
							<li>Jonathan Hovich</li>
							<li>Alex Robinson</li>
							<li>Alistair Carscadden</li>
						</ul>

					</p>
				</div>
			</div>
		</div>

		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>